//-
  _utils.pug
  よく使いそうなmixinのまとめです

  [index]
  1.webP対応( !!webP変換後、data.pugのdevModeをfalseに変更することで有効化します!! )
    - webPJpg(baseUrl,spUrl, pcUrl, devMode, className="", alt="")
    - webPPng(baseUrl,spUrl, pcUrl, devMode, className="", alt="")


  2.pictureタグでSP/PC出し分け
    - picture(dir, imgPcName,imgSpName, ext=".jpg", className="", alt="")
    - picture2(pcUrl, spUrl, className="", alt="")

  3.spanでテキスト分割
    - splitStr(str, className)

  4.SNSアイコンのインラインsvg
    - x
    - fb
    - line
    - insta


//- ----------------------------------------
//- webP対応
//- ----------------------------------------
mixin webPJpg(baseUrl,spUrl, pcUrl, devMode, className="", alt="")
  img(
    class=(className ? className : '')
    src = baseUrl+spUrl+".jpg",
    alt = alt
  )

mixin webPPng(baseUrl,spUrl, pcUrl, devMode, className="", alt="")
  img(
    class=(className ? className : '')
    src = baseUrl+spUrl+".png",
    alt = alt
  )


//- ----------------------------------------
//- pictureタグでSP/PC出し分け
//- ----------------------------------------
mixin picture(dir, imgPcName,imgSpName, ext=".jpg", className="", alt="")
  picture(class=(className ? className : ''))
    source(
      media = '(max-width: 768px)',
      srcset = `${dir}${imgSpName}${ext} 2x`
    )
    source(
      srcset = `${dir}${imgPcName}${ext} 1x, ${dir}${imgPcName}@2x${ext} 2x`
    )
    img(
      src = `${dir}${imgSpName}${ext}`,
      alt = alt
    )

mixin picture2(pcUrl, spUrl, className="", alt="")
  picture(class=(className ? className : ''))
    source(
      media = '(min-width: 769px)',
      srcset = pcUrl
    )
    source(
      media = '(max-width: 768px)',
      srcset = spUrl
    )
    - if(alt)
      img(
        src = spUrl
        alt = alt
      )
    -else
      img(
        src = spUrl
        role = 'presentation'
      )

//- ----------------------------------------
//- spanでテキスト分割
//- ----------------------------------------
mixin splitStr(str, className)
  -
    var strArr = str.split('');
    var html = '';
    for (var i = 0; i < strArr.length; i++) {
      html += `<span class="${className}">${(strArr[i] == ' ') ? '&nbsp' : strArr[i] }</span>`;
    }
  |!{html}


//- ----------------------------------------
//- SNSアイコンのインラインsvg
//- ----------------------------------------
mixin x
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
    <path d="M20.76,14.82L33.51,0h-3.02l-11.07,12.87L10.57,0H.38l13.37,19.46L.38,35h3.02l11.69-13.59,9.34,13.59h10.2l-13.87-20.18h0ZM16.62,19.63l-1.35-1.94L4.49,2.27h4.64l8.7,12.44,1.35,1.94,11.31,16.17h-4.64l-9.23-13.2h0Z"/>
  </svg>

mixin fb
  <svg id="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 34.87">
    <path d="M35,17.5C35,7.84,27.16,0,17.5,0S0,7.84,0,17.5c0,8.21,5.65,15.09,13.27,16.98v-11.64h-3.61v-5.35h3.61v-2.3c0-5.96,2.7-8.72,8.54-8.72,1.11,0,3.02.22,3.8.43v4.85c-.41-.04-1.13-.07-2.02-.07-2.87,0-3.98,1.09-3.98,3.91v1.89h5.72l-.98,5.35h-4.73v12.02c8.67-1.05,15.38-8.42,15.38-17.37Z"/>
  </svg>

mixin line
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
    <path d="M35,15.03c0-7.83-7.85-14.2-17.5-14.2S0,7.2,0,15.03c0,7.02,6.23,12.9,14.64,14.01.57.12,1.35.38,1.54.86.18.44.12,1.14.06,1.58,0,0-.21,1.23-.25,1.5-.08.44-.35,1.73,1.52.94,1.87-.79,10.08-5.93,13.75-10.16h0c2.54-2.78,3.75-5.6,3.75-8.74ZM11.33,19.21c0,.18-.15.33-.33.33h-4.92c-.18,0-.33-.15-.33-.33h0v-7.64c0-.18.15-.33.33-.33h1.24c.18,0,.33.15.33.33v6.06h3.34c.18,0,.33.15.33.33v1.24ZM14.29,19.21c0,.18-.15.33-.33.33h-1.24c-.18,0-.33-.15-.33-.33v-7.64c0-.18.15-.33.33-.33h1.24c.18,0,.33.15.33.33v7.64ZM22.73,19.21c0,.18-.15.33-.33.33h-1.23s-.06,0-.09-.01c0,0,0,0,0,0,0,0-.02,0-.02,0,0,0,0,0-.01,0,0,0-.01,0-.02,0,0,0-.01,0-.02,0,0,0,0,0,0,0,0,0-.01,0-.02-.01,0,0,0,0,0,0-.03-.02-.06-.05-.09-.08l-3.5-4.72v4.53c0,.18-.15.33-.33.33h-1.24c-.18,0-.33-.15-.33-.33v-7.64c0-.18.15-.33.33-.33h1.23s0,0,.01,0c0,0,.01,0,.02,0,0,0,.01,0,.02,0,0,0,0,0,.01,0,0,0,.01,0,.02,0,0,0,0,0,.01,0,0,0,.01,0,.02,0,0,0,0,0,.01,0,0,0,.01,0,.02,0,0,0,0,0,.01,0,0,0,.01,0,.02.01,0,0,0,0,.01,0,0,0,.01,0,.02.01,0,0,0,0,0,0,0,0,.01.01.02.02,0,0,0,0,0,0,0,0,.01.01.02.02,0,0,0,0,0,0,0,.01.02.02.03.03l3.49,4.72v-4.54c0-.18.15-.33.33-.33h1.24c.18,0,.33.15.33.33v7.64ZM29.51,12.82c0,.18-.15.33-.33.33h-3.34v1.29h3.34c.18,0,.33.15.33.33v1.24c0,.18-.15.33-.33.33h-3.34v1.29h3.34c.18,0,.33.15.33.33v1.24c0,.18-.15.33-.33.33h-4.92c-.18,0-.33-.15-.33-.33h0v-7.63h0c0-.19.15-.34.33-.34h4.92c.18,0,.33.15.33.33v1.24Z"/>
  </svg>

mixin insta
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35">
    <path d="M10.25.12c-1.86.09-3.13.39-4.25.82-1.15.45-2.13,1.05-3.1,2.02-.97.97-1.57,1.95-2.01,3.1-.43,1.11-.72,2.39-.81,4.25C.01,12.18,0,12.78,0,17.53s.03,5.35.12,7.21c.09,1.86.39,3.13.82,4.24.45,1.15,1.05,2.13,2.02,3.1.97.97,1.95,1.57,3.1,2.01,1.11.43,2.39.72,4.25.81,1.86.08,2.46.1,7.21.09,4.75,0,5.35-.03,7.22-.12s3.13-.39,4.24-.82c1.15-.45,2.13-1.05,3.1-2.02s1.57-1.95,2.01-3.1c.43-1.11.72-2.39.81-4.25.08-1.87.1-2.46.09-7.22,0-4.75-.03-5.35-.12-7.21s-.39-3.13-.82-4.25c-.45-1.15-1.05-2.12-2.02-3.1s-1.95-1.57-3.1-2.01c-1.11-.43-2.39-.72-4.25-.81S22.22,0,17.47,0s-5.35.03-7.21.12M10.46,31.76c-1.71-.07-2.63-.36-3.25-.6-.82-.32-1.4-.7-2.02-1.31s-.99-1.19-1.31-2.01c-.24-.62-.53-1.54-.61-3.25-.09-1.84-.11-2.4-.12-7.07s0-5.23.09-7.07c.07-1.7.36-2.63.6-3.25.32-.82.69-1.4,1.31-2.01s1.19-.99,2.01-1.31c.62-.24,1.54-.53,3.25-.61,1.85-.09,2.4-.11,7.07-.12,4.67-.01,5.23,0,7.07.09,1.7.07,2.63.36,3.25.6.82.32,1.4.69,2.01,1.31s.99,1.19,1.31,2.01c.24.61.53,1.54.61,3.25.09,1.85.11,2.4.12,7.07,0,4.67,0,5.23-.09,7.07-.07,1.71-.36,2.63-.6,3.25-.32.82-.69,1.4-1.31,2.01s-1.19.99-2.01,1.31c-.62.24-1.54.53-3.25.61-1.85.09-2.4.11-7.07.12s-5.22,0-7.07-.09M24.72,8.15c0,1.16.94,2.1,2.1,2.1s2.1-.94,2.1-2.1c0-1.16-.94-2.1-2.1-2.1,0,0,0,0,0,0-1.16,0-2.1.94-2.1,2.1M8.51,17.52c0,4.96,4.04,8.98,9,8.97s8.98-4.04,8.97-9c0-4.96-4.04-8.98-9-8.97-4.96,0-8.98,4.04-8.97,9M11.67,17.51c0-3.22,2.6-5.84,5.82-5.85,3.22,0,5.84,2.6,5.85,5.82,0,3.22-2.6,5.84-5.82,5.85-3.22,0-5.84-2.6-5.85-5.82h0"/>
  </svg>
